body {
     background-color: #325dba;
     color: #fff;
font-family: "Oswald", sans-serif;
}

header{
     font-size: 50px;
     border-bottom: double 5px #fff;
     padding: 50px;
     text-align: center;
     color: white
}
h1 {
     font-size: 30px;
}

section {
     background-color: 07455f;
     display: flex;
     justify-content: center;
}
chamada-texto {
     margin-right:30px;
}
img{
     width: 300 px;
     height: 200 px;